---
import CategoryProduct from "./CategoryProduct.astro";

const allProducts = Object.values(
  import.meta.glob("../../content/products/*.md", { eager: true }),
);

const { category, index } = Astro.props;

const categoryProducts = allProducts.filter((product: any) =>
  category.file.includes(product.frontmatter.categoryPath),
);

const isAlt = index % 2 === 1;
const bandClass = isAlt ? "bg-[#F6F5F3]" : "bg-[#F0F0F0]";
---

{
  categoryProducts.length > 0 && (
    <section
      id={category.frontmatter.name}
      class={`w-full ${bandClass} border-t border-neutral-200/70 `}
    >
      <div class="w-full px-6 py-10 sm:px-10 lg:px-14 ">
        <h2 class="flex items-center gap-6 text-3xl text-neutral-700">
          <a href={`#${category.frontmatter.name}`}>
            {category.frontmatter.name}
          </a>
          <div class="h-[1px] flex-1 bg-neutral-300/80" />
        </h2>

        <ul class="mt-6 flex flex-col flex-wrap items-center md:flex-row md:items-stretch">
          {categoryProducts.map((product: any) => (
            <li>
              <CategoryProduct product={product} />
            </li>
          ))}
        </ul>
      </div>
    </section>
  )
}
